!!! Strict
%html
  %head
    %meta{ http_equiv: "Content-Type", content: "text/html; charset=utf-8" }
    %title Movie Roulette
    %link{ rel: "stylesheet", href: "application.css", type: "text/css", media: "screen, projection" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %script{ src: "application.js", type: "text/javascript" }
  %body
    %video#background-video{ playsinline: true, muted: true, loop: true, poster: "background.png" }
      %source{ src: "background.mp4", type: "video/mp4" }
    .container
      #generator
        %h1 Begin
