!!! Strict
%html
  %head
    %meta{ http_equiv: "Content-Type", content: "text/html; charset=utf-8" }
    %title Movie Roulette
    %link{ rel: "stylesheet", href: "application.css", type: "text/css", media: "screen, projection" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %script{ src: "application.js", type: "text/javascript" }
%body
  .container
    .center
      %button#generator.btn
        %svg.border{ width: "180px", height: "60px", viewBox: "0 0 180 60" }
          %polyline.bg-line{ points: "179,1 179,59 1,59 1,1 179,1" }
          %polyline.hl-line{ points: "179,1 179,59 1,59 1,1 179,1" }
        %span Show Me The Movie
